@import '../../mixins';

.radio-buttons {
  @include flexbox(column, center);
}

.radio-buttons-wrapper {
  @include flexbox(column, center);
  flex-wrap: wrap;
}

.question {
  .radio-button-wrapper {
    @include flexbox(row, center);
    .radio-button {
      display: inline-block;
      margin: 3px 5px;
      input {
        border: 0 !important;
        clip: rect(0 0 0 0) !important;
        height: 1px !important;
        margin: -1px !important;
        overflow: hidden !important;
        padding: 0 !important;
        position: absolute !important;
        width: 1px !important;
      }
      .radio-button-unchecked {
        background: rgba(255, 255, 255, 0.17);
        font-size: 20px;
      }
      .radio-button-checked {
        background: #75CC43;
        color: #fff;
        font-size: 24px;
      }
      .radio-button-text {
        @include flexbox(column, center);
        height: 90px;
        width: 250px;
        cursor: pointer;
        font-size: 22px;
        line-height: 24px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin: 0 auto;
        padding: 10px;
        &:hover {
          box-shadow: 0 0 25px #fff;
          -moz-transform: scale(1.05);
          -webkit-transform: scale(1.05);
          transform: scale(1.05);
          transition: all .3s;
        }
      }
    }
    .radio-button-or {
      margin: 30px;
      color: #9B9B9B;
    }
  }
}

.question-LP0 .radio-buttons .radio-button .radio-button-text {
  height: 80px;
  width: 268px;
  padding: 10px;
}

div[class*="question-Skill"] .radio-buttons {
  .radio-buttons-wrapper {
    flex-direction: row;
  }
  .radio-button {
    margin: 2px;
  }
  .radio-button-text {
    height: 40px;
    width: 50px;
  }
}

.radio-button-image-wrapper {
  width: 50%;
}

.radio-button-image {
  width: 100%;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 25px #fff;
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    transition: all .3s;
  }
}

.radio-error {
  font-size: 18px;
}

@media only screen and (min-width: 780px) {
  .radio-button-image {
    padding: 4px 20px;
  }

  .radio-button-text {
    font-size: 24px;
    line-height: 26px;
    display: inline-block;
  }

  .radio-button-image-wrapper {
    width: 46%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .radio-buttons-wrapper {
    flex-direction: row;
  }
}
